.nav {
  display: flex;
  width: fit-content;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  mix-blend-mode: difference;
}

.nav__home {
  display: flex;
  border-bottom: none;
  padding: 30px 44px;
  margin: 0;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.4;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
}

.nav__save {
  display: flex;
  border-bottom: none;
  padding: 30px 44px;
  margin: 0;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.4;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
}

.nav__home_highlight {
  border-bottom: 3px solid white;
}

.nav__save_highlight {
  border-bottom: 3px solid white;
}

.nav__logout {
  border-radius: 100px;
  margin: 19px 0 13px 0;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px auto;
  max-width: 176px;
  color: white;
  mix-blend-mode: difference;
  font-family: "Robot";
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
}

.nav__username {
  font-family: "Robot";
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.4;
  color: white;
  mix-blend-mode: difference;
  margin: auto;
}

.nav__logout-img {
  color: white;
  mix-blend-mode: difference;
}

.nav__login {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 100px;
  margin: 19px 0 13px 0;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px auto;
  max-width: 176px;
  color: white;
  mix-blend-mode: difference;
  font-family: "Robot";
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .nav__home {
    margin: 0;
    padding: 0;
  }
  .nav__save {
    margin: 0;
    padding: 0;
  }
}
