.header {
  height: 80px;
  margin: 0;
  padding: 0 104px;
  background-color: transparent;
  border-bottom: 1px solid white;
  mix-blend-mode: difference;
  display: flex;
}

.header__name {
  margin: 30px auto 26px 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  filter: grayscale(1);
  mix-blend-mode: difference;
}

.header__buttons {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 710px) {
  .header {
    padding: 0 16px;
  }
}
