.footer {
  padding: 0 104px 0 104px;
  display: flex;
  flex-direction: row;
}

.footer__copyright {
  margin: 32px auto 26px 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;
  color: #b6bcbf;
}

.footer__nav {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__nav-text-container {
  display: flex;
  margin: 30px 40px 26px auto;
  padding: 0;
  gap: 40px;
  align-items: center;
}

.footer__images {
  display: flex;
  margin: 28px 0 28px 0;
  gap: 24px;
}

@media screen and (max-width: 1250px) {
  .footer {
    padding: 0 40px 0 40px;
  }

  .footer_copyright {
    margin: 24px 0 18px auto;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    padding: 20px 16px 22px 16px;
    flex-direction: column-reverse;
  }

  .footer__nav-text-container {
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    min-width: 200px;
    height: 72px;
    margin: 0 auto 40px 0;
  }

  .footer__images {
    margin: 0 0 0 0;
  }
}
