.card {
  width: 400px;
  height: 578px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__image-box {
  height: 277px;
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card__image {
  width: 400px;
  margin: 0;
  padding: 0;
}

.card__keyword {
  border-radius: 10px;
  margin: 0;
  padding: 8px 22px;
  background-color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  float: right;
}

.card__keyword_visible {
  visibility: visible;
}

.card__keyword_hidden {
  visibility: hidden;
}

.card__top {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 24px;
  justify-content: space-between;
  width: 85%;
}

.card__save-btn {
  border-radius: 10px;
  background-color: white;

  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__save-btn:hover {
  background-image: url(../../assets/bookmark_hover.svg);
}

.card__save-btn_saved {
  background-image: url(../../assets/bookmark_checked.svg);
}

.card__save-btn_saved:hover {
  background-image: url(../../assets/bookmark_checked.svg);
}

.card__save-btn_no-logged:hover .card__popup {
  display: flex;
  position: absolute;
  right: 105%;
  bottom: 3%;
  width: fit-content;
}

.card__delete-btn {
  border-radius: 10px;

  background-color: white;
  background-image: url(../../assets/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.card__delete-btn:hover {
  background-image: url(../../assets/trash_hover.svg);
}

.card__delete-btn:hover .card__popup {
  display: flex;
  position: absolute;
  right: 100%;
  width: fit-content;
}

.card__popup {
  display: none;
  border-radius: 10px;
  padding: 11px 26px;
  margin: 0;
  background-color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.72;
  min-width: 159px;
  text-align: center;
  max-height: 40px;
}

.card__text {
  margin: 20px 24px 24px 24px;
  padding: 0;
}

.card__date {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #b6bcbf;
  margin: 0 0 12px 0;
  padding: 0;
}

.card__title {
  width: 352px;
  height: 60px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  color: #1a1b22;
  margin: 0 0 16px 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-decoration: none;
  cursor: pointer;
}

.card__desc {
  width: 352px;
  height: 110px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #1a1b22;
  margin: 0 0 auto 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card__pub {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1230px) {
  .card {
    width: 224px;
    height: 420px;
  }

  .card__image-box {
    width: 224px;
    height: 150px;
    margin-bottom: 16px;
  }

  .card__image {
    width: 224px;
  }

  .card__title {
    font-size: 22px;
    width: 192px;
    height: 72px;
  }

  .card__desc {
    width: 192px;
    height: 88px;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .card__delete-btn:hover .card__popup {
    display: none;
  }

  .card__save-btn:hover .card__popup {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .card {
    min-width: 288px;
    height: 440px;
  }

  .card__image {
    min-width: 288px;
  }

  .card__image-box {
    min-width: 288px;
    height: 196px;
  }

  .card__text {
    min-width: 256px;
    margin: 16px;
    padding: 0;
  }

  .card__title {
    min-width: 256px;
    height: 48px;
  }
}
